@font-face {
	font-family: 'boldbold';
	src: url('fonts/bold.ttf') format('truetype');
	font-display: swap;
}

@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);

body {
	background-color: #0d0d0d;
	color: #f2f2f2;
	margin: 0;
	overflow-x: hidden;
	user-select: none;
	display: flex;
	flex-direction: column;
	min-height: 110vh;
	margin-top: 60px;
}

main {
	flex: 1;
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	background: #0d0d0d;
}

::-webkit-scrollbar-thumb {
	background-color: #333;
	border-radius: 10px;
	border: 3px solid #0d0d0d;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #555;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #333;
	padding-bottom: 10px;
	position: fixed;
	width: 100%;
	top: 0;
	background-color: #0d0d0d;
	z-index: 1000;
}

.title {
	font-size: 24px;
	font-family: 'boldbold', sans-serif;
	font-style: bold;
	vertical-align: middle;
	margin: 0;
}

.title-link {
	text-decoration: none;
	color: inherit;
	display: inline-block;
	padding: 0;
	margin-top: 20px;
	margin-left: 40px;
}

.nav {
	margin-top: 20px;
	margin-right: 40px;
}

.nav-link {
	text-decoration: none;
	color: #f2f2f2;
	margin-left: 20px;
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 16px;
}

.nav-link:hover {
	text-decoration: underline;
}

.center-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
	text-align: center;
	margin-top: -120px;
}

.logo-text-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.center-logo {
	width: 100px;
	height: auto;
	margin-right: 20px;
}

.center-text h1 {
	font-size: 72px;
	font-family: 'boldbold', sans-serif;
	margin: 0;
}

.center-text p {
	font-size: 20px;
	font-family: 'IBM Plex Sans', sans-serif;
	color: #9d9d9d;
	margin-top: 20px;
	text-align: left;
	width: 100%;
	max-width: 600px;
	position: relative;
	right: -230px;
}

.about-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 60px;
	margin: 20px;
}

.about-box {
	background-color: #1a1a1a;
	border-radius: 8px;
	padding: 20px;
	text-align: center;
}

.about-box h2,
.about-box h3 {
	font-family: 'boldbold', sans-serif;
	font-size: 28px;
	margin-bottom: 10px;
}

.about-box p {
	font-size: 16px;
	font-family: 'IBM Plex Sans', sans-serif;
	line-height: 1.5;
	text-align: left;
}

.about-box a {
	text-decoration: underline;
	color: #f2f2f2;
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 16px;
}

.projects-section {
	margin: 20px;
	padding: 20px;
	background-color: #1a1a1a;
	border-radius: 8px;
}

.projects-section h2 {
	font-family: 'boldbold', sans-serif;
	font-size: 28px;
	margin-bottom: 20px;
}

.projects-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

.project-box {
	background-color: #2a2a2a;
	border-radius: 8px;
	padding: 20px;
	margin-bottom: 20px;
	text-align: center;
}

.project-photo {
	width: 100%;
	height: auto;
	border-radius: 8px;
}

.project-title {
	font-family: 'boldbold', sans-serif;
	font-size: 22px;
	margin-top: 10px;
}

.project-description {
	font-size: 16px;
	font-family: 'IBM Plex Sans', sans-serif;
	margin-top: 10px;
}

.copied-box {
	position: absolute;
	background-color: #333;
	color: #fff;
	padding: 5px 10px;
	border-radius: 5px;
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 14px;
	z-index: 1000;
	transition: transform 1s ease, opacity 1s ease;
	transform: translateY(0);
	opacity: 1;
}

.copied-box.fade-out {
	transform: translateY(-20px);
	opacity: 0;
}

.footer-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}

.footer-box {
	padding-bottom: 10px;
	position: relative;
	left: 200px;
}

.footer-box h3 {
	font-family: 'boldbold', sans-serif;
	font-size: 20px;
	margin-bottom: 10px;
}

.footer-box p {
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 16px;
}

.footer-box a {
	text-decoration: underline;
	color: #f2f2f2;
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 16px;
}

#snow-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: -3;
	background-attachment: fixed;
}

.snowflake {
	position: absolute;
	top: -10px;
	width: 10px;
	height: 10px;
	background-color: #fff;
	border-radius: 50%;
	opacity: 0.8;
	animation: fall linear infinite;
}

@keyframes fall {
	to {
		transform: translateY(100vh);
	}
}
